body {
    background: rgb(83, 43, 83)
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: white;
    border: none;
    background: rgb(0, 0, 0, 0.5);
    max-width: 400px;
}
.todos li {
    background: rgb(136, 80, 136);
}
.delete {
    cursor: pointer;
}

.filtered {
    display: none !important;
}